@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body{
    font-family: 'Outfit', sans-serif;
}

.app{
    background-color: rgba(0, 0, 0, 0.4);
}
.app::before{
    content: " ";
    background: url(./asset/sunset.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bottom{
    background-color: rgba(225, 225, 225, 0.3);
}

.descrip {
    position: relative;
    right: -90%;
    transform-origin: 0 0;
    transform: rotate(269deg);
  }


